<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel='icon' type='image/png' href='/icone' />
        <meta name='viewport' content='width=device-width' />
        <title>Central de Mídias</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
      <div id="corpo">
        <nav class="navbar navbar-inverse" style="position: fixed; width: 100%; z-index:1">
            <div class="container-fluid">
              <div class="navbar-header" id='navbar_head'>
                <a class="navbar-brand" href="#" onclick="menu()">Menu</a>
              </div>
              <ul class="nav navbar-nav" id="menu">
                <li class="active"><a href="#" onclick="todos()">Procurar</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tipos
					<span class="caret"></span></a>
					<ul class="dropdown-menu" id="tipos"></ul>
				</li>
        <li><a href="#" onclick="adicionar();" class='config'>Adicionar arquivos</a></li>
        <li class="dropdown config">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Code
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
            <li><a href="#" onclick="OpenWindow('http://localhost:3000/qr'); menu()" class='config'>Link</a></li>
            <li><a href="#" onclick="OpenWindow('http://localhost:3000/receber'); menu()" class='config'>Receber Arquivos</a></li>
          </ul>
				</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Exibir
			<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" onclick="ExibirPasta(false)">Arquivos</a></li>
					<li><a href="#" onclick="ExibirPasta(true)">Pastas</a></li>
				</ul>
		</li>
                
              </ul>
            </div>
          </nav>
          <div style="height:50px; width: 100%"></div>
          <div class="container" id='main'>
            
            <h2 id='Lista-titulo' align='center'></h2>            
            <div id='pesquisa'>
				<form onsubmit='pesquisa()' id='search' align='center'>
				<input type='text' id='pesq' placeholder='Digite o nome do arquivo' class='form-control'  />
				</form>
			</div>
		    <div style="max-height: calc(100vh - 230px); margin-top: 15px; margin-bottom:50px; overflow: auto;">     
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
					<th>Local</th>
					<th class='config' align='center'>Opções</th>
                </tr>
              </thead>
              <tbody id='lista'>
                
              </tbody>
            </table>
          </div>
        </div>
		  <div class='container' id='update' style='display: none'>
				<div class="form-group">
					<label for="nome_arquivo">Nome:</label>
					<input type="text" class="form-control" id="nome_arquivo">
				</div>
				<div class="form-group">
					<label for="local_arquivo">Local:</label>
					<input type="text" class="form-control" id="local_arquivo">
				</div>
				<button type="button" class="btn btn-primary btn-block" onclick='salvar()'>Salvar</button>
				<button type="button" class="btn btn-default btn-block" onclick='cancelar()'>Cancelar</button>
      </div>
      </div>

      <div id="detalhes" style="display: none;">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header" id='navbar_head'>
              <a class="navbar-brand" href="#">Detalhes</a>
              <img src="/buttons/detalhes" onclick="controles(false)" style="position:absolute; top: 10px ; right: 0; margin-right: 10px;margin-left: 10px; transform: rotate(180deg);"height="30px"></img>
            </div>
          </div>
        </nav>
        <div class="container" style="max-height: calc(100vh - 100px); overflow:auto">
          <div id="Reproduzindo" style="display: none;">
            <h3>Reproduzindo:</h3>
            <h4 id="song-title-detalhes"></h4>
            <hr>
          </div>

          <div id="musica" align="center">
            <audio id="player" controls autoplay></audio>
            <table>
              <tr>
                <td>
                  <img id="prev" onclick="play_prev()" style="display: none;" src="/buttons/prev" height="30px"></img>
                </td>
                <td>
                  <img id="stop" onclick="stop()" style="display:none" src="/buttons/stop" height="30px"></img>
                  <a href="#" id="atalho" onclick="Tocar_todas()">Tocar todas músicas</a>
                </td>
                <td align="right">
                  <img id="next" style="display: none;" src="/buttons/next" onclick="play_next()"height="30px"></img>
                </td>
              </tr>
            </table>
            <hr>
			<input type="checkbox" id="all" checked>Tocar todas</input>
          </div>
          
        </div>


      </div>

      <footer style="bottom: 0; position:fixed; width:100%; height:50px; color: white; background-color: #222222;">
          <table id ="mini-player" style="width: 100%;">
            <tr>
              <td>
                <img onclick="play()" id="play-button" src="/buttons/play" height="50px"></img>
              </td>
              <td>
                <h5 id="song-title"style="width: calc(100vw - 100px); max-height:30px; overflow: hidden;">Programado por: Hermes Francisco</h5>
              </td>
              <td align = "right">
                <img src="/buttons/detalhes" onclick="controles(true)" style="margin-right: 10px;margin-left: 10px;"height="30px"></img>
              </td>
            </tr>
          </table>          
      </footer>

    </body>
    <script src='/player_script' chartset='UTF-8'></script>
    <script src='/script' chartset='UTF-8'></script>
	
</html>